/*====>>  Stylesheet Guide START  <<====*/

/*<<=========================================>>

        1. IMPORT Plugins and other CSS files
        2. DEFAULT Stylesheets
        3. BASIC classes
            3.1.      TOUCH hacks
            3.2.      Float:;
            3.3.      Text-align:;
            3.4.      INDENTS Zero
            3.5.      Absolute positions
            3.6.      Clearfix
            3.7.      Dispay:;
            3.8.      LINKS
            3.9.      LINKS:hover
            3.10.     TITLES
            3.11.     BACKGROUNDS
            3.12.     COLORS
            3.13.     FONTS
            3.14.     TEXTAFIELD (placeholder animation)
            3.15.     BREADCRUMBS
            3.16.     PRELOADER
            3.17.     ANCHOR TO TOP
        4. HEADER
        5. CONTENT
        6. FOOTER 
        
        <<=========================================>>*/

/*====>>  Stylesheet Guide END    <<====*/

/*  <!-- 1. IMPORT Plugins and other CSS files 
============================================ --> */

/*  <!-- 2. DEFAULT Stylesheets 
============================================ --> */

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Proxima Nova Reg It', Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: inherit;
  color: #666;
  min-width: 320px;
  background-color: #fff;
  -webkit-text-size-adjust: none;
  /* smoothing font start */
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
  /* smoothing font end */
  /* scroll for iphone */
  -webkit-overflow-scrolling: touch;
  /* scroll for iphone */
}

img {
  max-width: 100%;
  height: auto;
  display: inline-block;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* when you select text is added to a custom style  */

::-moz-selection {
  color: #fff;
  background-color: #0066cc;
}

::selection {
  color: #fff;
  background-color: #0066cc;
}

::-moz-selection {
  color: #fff;
  background-color: #0066cc;
}

/* !!! */

/* custom style to scroll (only in chrome) */

::-webkit-scrollbar {
  background: #e2e2e2;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #007ae4;
}

/* !!! */

hr {
  border: none;
  border-top: 1px solid #888;
  margin: 0;
}

.container {
  max-width: 100%;
}

.detect_scroll_width {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

/*  <!-- 3. BASIC classes
============================================ --> */

/*==========>>  3.1.      TOUCH hacks   <<==========*/

input {
  -webkit-appearance: none;
  outline: none;
}

input[type="checkbox"] {
  -webkit-appearance: checkbox;
}

input[type="radio"] {
  -webkit-appearance: radio;
}

textarea,
button {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  outline: none;
}

/*==========>>  3.2.      Float:;   <<==========*/

.f_left {
  float: left;
}

.f_right {
  float: right;
}

/*==========>>  3.3.      Text-align:;   <<==========*/

.al_left {
  text-align: left;
}

.al_right {
  text-align: right;
}

.al_center {
  text-align: center;
}

/*==========>>  3.4.      INDENTS Zero   <<==========*/

.m_t_zero {
  margin-top: 0 !important;
}

.m_b_zero {
  margin-bottom: 0 !important;
}

.m_r_zero {
  margin-right: 0 !important;
}

.m_l_zero {
  margin-left: 0 !important;
}

.p_t_zero {
  padding-top: 0 !important;
}

.p_b_zero {
  padding-bottom: 0 !important;
}

.p_r_zero {
  padding-right: 0 !important;
}

.p_l_zero {
  padding-left: 0 !important;
}

/*==========>>  3.5.      Absolute positions   <<==========*/

.p_abs {
  position: absolute;
}

.p_rel {
  position: relative;
}

.p_fix {
  position: fixed;
}

.p_static {
  position: static;
}

.full_abs {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: block;
  z-index: 99;
}

.z-i9 {
  z-index: 9;
}

/*==========>>  3.6.      Clearfix   <<==========*/

.clear {
  clear: both;
  width: 100%;
  line-height: 0;
  font-size: 0;
}

.clearfix:after,
.container:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.wrapper {
  overflow: hidden;
}

/*==========>>  3.7.      Dispay:;   <<==========*/

.d_block {
  display: block;
}

.d_ib {
  display: inline-block;
}

.d_none {
  display: none;
}

.d_t {
  display: table;
}

.d_row {
  display: table-row;
}

.d_tc {
  display: table-cell;
}

/*==========>>  3.8.      LINKS   <<==========*/

* a,
* button {
  cursor: pointer;
  border: none;
  text-transform: none;
  text-decoration: none;
  outline: none !important;
  background-color: transparent;
  display: inline-block;
  -webkit-border-radius: 0;
  border-radius: 0;
}

[data-popup] {
  cursor: pointer;
}

[class*="btn_"] {
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  text-decoration: none;
}

[data-btn-size="m"] {
  padding: 10px;
}

.btn_black {
  border: 2px solid #000;
  background-color: transparent;
}

.btn_black:hover {
  border: 2px solid #000;
  background-color: #000;
  color: #000;
}

/*==========>>  3.9.     LINKS:hover   <<==========*/

a,
button {
  -webkit-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

a:hover,
button:hover {
  -webkit-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

/*==========>>  3.10.     TITLES   <<==========*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin-bottom: 20px;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

/*==========>>  3.11.     BACKGROUNDS   <<==========*/

.bg_black {
  background-color: #000;
}

.bg_white {
  background-color: #fff;
}

/*==========>>  3.12.     COLORS   <<==========*/

.white {
  color: #FFF;
}

.black {
  color: #000;
}

/*==========>>  3.13.     FONTS   <<==========*/

.roboto_thn,
.roboto_lt,
.roboto_reg,
.roboto_med,
.roboto_bd,
.roboto_ultra_bd {
  font-family: 'Roboto', sans-serif;
}

.roboto_thn {
  font-weight: 100;
}

.roboto_lt {
  font-weight: 300;
}

.roboto_reg {
  font-weight: 400;
}

.roboto_med {
  font-weight: 500;
}

.roboto_bd {
  font-weight: 700;
}

.roboto_ultra_bd {
  font-weight: 900;
}

/*==========>>  3.14.     TEXTAFIELD (placeholder animation)   <<==========*/

/*===  input  ===*/

input.invalid,
textarea.invalid,
.jq-selectbox.invalid .jq-selectbox__select {
  border: 2px solid red;
}

input:not(:placeholder-shown) {
  /** input is not empty */
}

input:placeholder-shown {
  /** input is empty */
}

.error_message {
  color: red;
  position: absolute;
  top: 100%;
  left: 0;
}

input::-webkit-input-placeholder {
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: inherit;
}

input::-moz-placeholder {
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: inherit;
}

input:-moz-placeholder {
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: inherit;
}

input:-ms-input-placeholder {
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: inherit;
}

/* focus  */

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder {
  color: transparent;
}

/*===  textarea   ===*/

textarea::-webkit-input-placeholder {
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: inherit;
}

textarea::-moz-placeholder {
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: inherit;
}

textarea:-moz-placeholder {
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: inherit;
}

textarea:-ms-input-placeholder {
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: inherit;
}

/* focus  */

textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

textarea:focus::-moz-placeholder {
  color: transparent;
}

textarea:focus:-moz-placeholder {
  color: transparent;
}

textarea:focus:-ms-input-placeholder {
  color: transparent;
}

/*==========>>  3.15.     BREADCRUMBS   <<==========*/

.breadcrumbs_container {
  background-color: #ff6633;
}

.breadcrumbs {
  display: block;
  list-style: none;
  margin: 24px 0 24px 0;
}

.breadcrumbs_it {
  position: relative;
  float: left;
  margin-right: 4px;
  padding-right: 15px;
}

.breadcrumbs_it:before {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  content: attr(data-bread-arr);
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  /* background: url(../images/icon_breadcrumbs.png) 0 0 no-repeat; */
  /* width: 6px;
                            height: 6px; */
}

.breadcrumbs_it a {
  text-decoration: none;
  color: #fff;
}

.breadcrumbs_it a:hover span {
  text-decoration: underline;
}

.breadcrumbs .breadcrumbs_it:last-child:before {
  display: none;
}

.breadcrumbs .breadcrumbs_it:first-child a {
  padding-left: 0;
}

.breadcrumbs_current {
  font-size: 15px;
  font-weight: 700;
  line-height: 21px;
  color: #fff;
}

/*==========>>  3.16.     PRELOADER   <<==========*/

#page-preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #00BBD3;
  z-index: 100500;
}

#page-preloader .preloader {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 35px;
  height: 35px;
  margin-top: -17.5px;
  margin-left: -17.5px;
  display: inline-block;
  padding: 0px;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  border: 2px solid;
  border-top-color: rgba(0, 0, 0, 0.65);
  border-bottom-color: rgba(0, 0, 0, 0.15);
  border-left-color: rgba(0, 0, 0, 0.65);
  border-right-color: rgba(0, 0, 0, 0.15);
  -webkit-animation: preloader 0.8s linear infinite;
  animation: preloader 0.8s linear infinite;
}

@keyframes preloader {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes preloader {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

/*==========>>  3.17.     ANCHOR TO TOP   <<==========*/

.back_to_top {
  border: none;
  outline: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  color: #fff;
  background-color: #333;
  z-index: 99;
}

.back_to_top:hover {
  background-color: #0066cc;
}

.back_to_top i {
  font-size: 30px;
  line-height: 30px;
  margin: 0;
}

.back_to_top.animated {
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
}

/*  <!-- 4. HEADER 
============================================ --> */

#header {
  background-color: blue;
}

.logo > a {
  display: block;
  text-decoration: none;
  font-size: 0;
}

.logo > a > img {
  max-width: 100%;
  max-height: 100%;
}

.menu_item {
  float: left;
  padding: 0 10px;
}

.menu_item.current {
  opacity: 0.8;
}

/*  <!-- 5. CONTENT 
============================================ --> */

#content {
  padding: 0px;
}

/* - - - - - - - - - - first screen - - - - - - - - - - */

/* - - - - - - - - - -/ end of first screen - - - - - - - - - - */

/* - - - - - - - - - - second screen - - - - - - - - - - */

/* - - - - - - - - - -/ end of second screen - - - - - - - - - - */

/* - - - - - - - - - - third screen - - - - - - - - - - */

/* - - - - - - - - - -/ end of third screen - - - - - - - - - - */

/*  <!-- 6. FOOTER 
============================================ --> */