//- block vars
footer(id="footer" class=footerClasses)

	// - - - - - - - - - - - - - footer_container - - - - - - - - - - - - - - - - 
	section(class="footer_container")
		div.container#hello
		.container#hello
		div(id="hello" class="container")
	// - - - - - - - - - - - - - End of footer_container - - - - - - - - - - - - - - - - 