
head

	// Basic page needs     ============================================ 
	block title
	meta(charset="utf-8")
	meta(name="author", content="")
	meta(name="keywords", content="")
	meta(name="description", content="")

	// Meta tags for social networks     ============================================
	meta(property="og:title" content="")
	meta(property="og:type" content="")
	meta(property="og:description" content="")
	meta(property="og:url" content="")
	meta(property="og:image" content="img/preview.jpg")

	// IE Support     "IE=edge","IE=11","IE=10","IE=9","IE=8"     ============================================ 
	meta(http-equiv="X-UA-Compatible", content="IE=edge")

	// Mobile specific metas     ============================================ 
	meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

	// Disable conversion of telephone numbers     ============================================ 
	meta(name="format-detection", content="telephone=no")

	// Favicon     ============================================
	link(rel="shortcut icon", href="images/favicon.ico", type="image/x-icon")
	link(rel="icon", href="images/favicon.ico", type="image/x-icon")
	link(rel="icon", href="images/favicon-16.png", sizes="16x16", type="image/png")
	link(rel="icon", href="images/favicon-32.png", sizes="32x32", type="image/png")
	link(rel="icon", href="images/favicon-48.png", sizes="48x48", type="image/png")
	link(rel="icon", href="images/favicon-62.png", sizes="62x62", type="image/png")
	link(rel="icon", href="images/favicon-192.png", sizes="192x192", type="image/png")

	// Include Fonts (Icons)     ============================================ 
	link(href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&amp;subset=cyrillic" rel="stylesheet")
	link(rel="stylesheet", media="screen", href="fonts/icons/font-awesome-4.5.0/css/font-awesome.css")
	link(rel="stylesheet", media="screen", href="css/font.css")

	// Include Libs CSS     ============================================ 
	link(rel="stylesheet", media="screen", href="css/reset.css")
	link(rel="stylesheet", media="screen", href="css/bootstrap.css")
	link(rel="stylesheet", media="screen", href="css/animate.css")

	// Theme CSS     ============================================ 
	link(rel="stylesheet", media="screen", href="css/style.css")
	link(rel="stylesheet", media="screen", href="css/responsive.css")
	//[if IE]><link href="css/ie.css" rel="stylesheet" type="text/css" /><![endif]

