//- block vars
header#header(class=headerClasses)



	section(class="header_container")
		div(class="container")

			// - - - - - - - - - - - - - Logo - - - - - - - - - - - - - - - - 

			div(class="logo")
				a(href="index.html") Sitename hereimg
					img(src="images/logo.png", alt="")

			// - - - - - - - - - - - - - End of Logo - - - - - - - - - - - - - - - - 

			//  - - - - - - - - - - - - - Page Navigation - - - - - - - - - - - - - - - - 

			nav(id="primary_nav" class="navigation_menu")
				menu(id="menu" class="menu clearfix")
					li(class="menu_item current")
						<a class="menu_link" href="index.html">Home</a>
					li(class="menu_item")
						<a class="menu_link" href="javascript:;">Home1</a>
					li(class="menu_item")
						<a class="menu_link" href="javascript:;">Home2</a>
					li(class="menu_item")
						<a class="menu_link" href="javascript:;">Home3</a>
					li(class="menu_item")
						<a class="menu_link" href="javascript:;">Home4</a>

			//  - - - - - - - - - - - - - End of Page Navigation - - - - - - - - - - - - - - - - 