// Include Libs     ============================================ 

script(src="js/jquery-3.2.1.min.js")
script(src="js/jquery-migrate-3.0.1.min.js")

// Include Libs End       ============================================ 




// Scripts Init Plugins & Core START     ============================================ 

script(src="js/script.init.js")
script(src="js/script.core.js")

// Scripts Init Plugins & Core END       ============================================ 