extends ../pug/templates/main

block title
	title Главная страница


//- Content Start     ============================================ 


block content

	// Content Start     ============================================ 

	main#content.content1

		// - - - - - - - - - - - - - something_container - - - - - - - - - - - - - - - - 

		section(class="something_container")
			div.container
				a( href="#" data-popup="#box-modal" style=" font-family: 'Raleway';") Popup
				
				div.box
					div.box-item.item-1 1  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia id, obcaecati nostrum sequi quas recusandae ratione suscipit praesentium voluptates, quisquam repellat et? Aperiam perferendis eum quod quo praesentium, quisquam rem!
					div.box-item.item-2 2  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit, corrupti, assumenda. Debitis ut perferendis sapiente id ad eligendi iure dolore consequatur ducimus delectus! Illo facilis odit, a repudiandae hic nam.
					div.box-item.item-3 3  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus necessitatibus, asperiores nulla, eaque dolores recusandae adipisci deleniti vero similique laboriosam sint porro dolorem reprehenderit, eligendi ipsam, ducimus nobis temporibus doloribus!
					div.box-item.item-4 4  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique ipsa suscipit, consequatur incidunt, quod pariatur libero quae! Quae, ducimus iste impedit consectetur incidunt, quod fugit sed, molestiae necessitatibus expedita quo!
					div.box-item.item-5 5  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, voluptates doloremque mollitia adipisci vero ea delectus dolor nulla aliquid? Sapiente odit magnam eveniet eius est enim natus impedit soluta itaque!
					div.box-item.item-6 6  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, voluptates doloremque mollitia adipisci vero ea delectus dolor nulla aliquid? Sapiente odit magnam eveniet eius est enim natus impedit soluta itaque!
					div.box-item.item-7 7  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, voluptates doloremque mollitia adipisci vero ea delectus dolor nulla aliquid? Sapiente odit magnam eveniet eius est enim natus impedit soluta itaque!
					div.box-item.item-4 4  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique ipsa suscipit, consequatur incidunt, quod pariatur libero quae! Quae, ducimus iste impedit consectetur incidunt, quod fugit sed, molestiae necessitatibus expedita quo!
					div.box-item.item-5 5  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, voluptates doloremque mollitia adipisci vero ea delectus dolor nulla aliquid? Sapiente odit magnam eveniet eius est enim natus impedit soluta itaque!
					div.box-item.item-6 6  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, voluptates doloremque mollitia adipisci vero ea delectus dolor nulla aliquid? Sapiente odit magnam eveniet eius est enim natus impedit soluta itaque!


		// - - - - - - - - - - - - - End of something_container - - - - - - - - - - - - - - - - 

	// Content End       ============================================ 


//- Content End       ============================================ 



//- Popup Start     ============================================ 


block popup

	// Popup Start     ============================================ 

	div(class="d_none")
		
		div(class="arcticmodal_container_box" id="box-modal")
			div(class="arcticmodal-close") &times; 
			p Поздравляем! Заявка отправлена

	// Popup End       ============================================ 


//- Popup End       ============================================ 